.List-Container {
  background-color:white;
  text-align: left;
  display:flex;
  flex-direction: column;
  margin-left: 40px;

}
.Header-Container{
  display:flex;
  /*width: 619px;*/
  width: 100%;
  height:96px;
  align-items: center;
  justify-content: space-between;
}
.Header-Title{
  display: flex;
}

.Header-Text {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.avatar{
  height:40px;
  width:40px;
  border-radius:20px;
  object-fit: cover; 
  margin-right:16px;
}
.createBtn{
  padding-right:40px;
}

.createlist {
  display:flex;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  padding-left:16px;
}

.Item-Container{
  display: flex;
  justify-content: space-between;
  width: 95%;
  height: 60px;
  /* my code
  border-width:1px;
  border-style:solid;
  border-color:rgb(218, 214, 214);
  border-radius: 8px; */
  border: 0.75px solid #ECECEC;
  box-sizing: border-box;
  border-radius: 8px;
}
.Item-Title-Box {
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}
.plusLogo{
  padding-right:16px;
  padding-left:16px;
  display: flex;
  align-items: center;
}
.Item-Container:hover{
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
}
.Item-Container:active{
  background: #F4F4F4;

}
.backIcon {
  width: 18px;
  height: 18px;
  object-fit: cover;
  padding-right:4px;
}

.createInput {
  width: 90%;
}

input{
  caret-color: rgb(46, 205, 233);
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border:none;
  outline:none;
  font-size:larger;
  font-weight: 600;

}
.cancel{
  display: flex;
  cursor: pointer;
  align-items: center;
}

.modifyContainer {
  margin-top: 32px;
  margin-left: 40px;
}

.leftHeader {
  display: flex;
  width: 95%;
  justify-content: space-between;
  margin-bottom: 24px;
}

.createText {
  font-size: 20px;
  font-weight: 600;
}

.backLogo{
  font-size: 20px;
}
.Done{
  margin-right:40px;
  cursor: pointer;
}
.dropdown {
  align-items:center;
  position:relative;
  display: flex;
}
.ellipsesBtn {
  padding:8px;
  background-color: white;
  color: black;
  font-size: 16px;
  border-radius: 6px;
}

.dropdown:hover .ellipsesBtn {
  background-color: #f1f1f1;
}

.dropdown-content {
  display: none;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 6px;
  position:absolute;
}
.dropdown:hover .dropdown-content {
  display:block;
}

.dropdown-content button {
  color: black;
  text-decoration: none;
  min-width: 100px;
  min-height: 50px;
  border-radius: 6px;
}
.dropdown-content button:hover {background-color: #f1f1f1}

.editLogo{
  height:16px;
  stroke-width: 0.5;
  float:left;
  padding-left:16px;
  padding-right:0px;
}

.deleteLogo{
  stroke-width: 0.5;
  float:left;
  padding-left:16px;
}

button{
  border:none;
  background-color: white;
  cursor: pointer;
}
button:active {color:rgb(46, 205, 233)}
