.List-Container {
  background-color:white;
  text-align: left;
  display:flex;
  flex-direction: column;

}
.Header-Container{
  display:flex;
  width: 619px;
  height:96px;
}
.Header-Title{
  flex:4;
  color:black;
}
.avatar{
  height:40px;
  width:40px;
  border-radius:20px;
  margin-left:40px;
  margin-right:16px;

}
.createBtn{
  padding-right:40px;
}
.Item-Container{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width:540px;
  height: 60px;
  padding-left:16px;
  margin-left:40px;
  /* my code
  border-width:1px;
  border-style:solid;
  border-color:rgb(218, 214, 214);
  border-radius: 8px; */
  border: 0.75px solid #ECECEC;
  box-sizing: border-box;
  border-radius: 8px;
}
.Item-Title-Box {
  flex:5;
  min-width: 100;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}
.plusLogo{
  margin-left:16px;
  margin-right:16px;
}
.Item-Container:hover{
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
}
.Item-Container:active{
  background: #F4F4F4;

}
input{
  caret-color: rgb(46, 205, 233);
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border:none;
  outline:none;
  font-size:larger;
  font-weight: 600;
  padding-left:20px;
  width:250px;

}
.Cancel{
  display:inline-flex;
  margin-left:40px;
  cursor: pointer;
}
.backLogo{
  font-size: 20px;
}
.Done{
  margin-right:40px;
  cursor: pointer;
}
.dropdown {
  flex:1;
  position:relative;
}
.ellipsesBtn {
  padding:8px;
  background-color: white;
  color: black;
  font-size: 16px;
  border-radius: 6px;
}

.dropdown:hover .ellipsesBtn {
  background-color: #f1f1f1;
}

.dropdown-content {
  display: none;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 6px;
  position:absolute;
}
.dropdown:hover .dropdown-content {
  display:block;
}

.dropdown-content button {
  color: black;
  text-decoration: none;
  min-width: 100px;
  min-height: 50px;
  border-radius: 6px;
}
.dropdown-content button:hover {background-color: #f1f1f1}

.editLogo{
  height:16px;
  stroke-width: 0.5;
  float:left;
  padding-left:16px;
  padding-right:0px;
}

.deleteLogo{
  stroke-width: 0.5;
  float:left;
  padding-left:16px;
}

button{
  border:none;
  background-color: white;
  cursor: pointer;
}
button:active {color:rgb(46, 205, 233)}
