@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

.List-Container {
  background-color:white;
  text-align: left;
  display:flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right:40px;

}
.Header-Container{
  display:flex;
  /*width: 619px;*/
  width: 100%;
  height:96px;
  align-items: center;
  justify-content: space-between;
}
.Header-Title{
  display: flex;
}

.Header-Text {
  display: flex;
  align-items: center;
  font-family:'Inter';
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: -0.03em;
}

.avatar{
  height:40px;
  width:40px;
  border-radius:20px;
  object-fit: cover; 
  margin-right:16px;
}
.createBtn{
  /* margin-right:40px; */
  width:40px;
  height:40px;
  border-radius: 4px;
  color: #242424;
}

.createBtn:hover{
  background-color: #F4F4F4;
}

.createBtn:active{
  background-color: #F4F4F4;
  fill:#2FE6FF;
}

.createalist {
  display:flex;
  align-items: center;
  font-style: normal;
  font-family:'Inter';
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.005em;
  padding-left:16px;
}

.Item-Container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 960px;
  height: 60px;
  border: 0.75px solid #ECECEC;
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom:16px;
}

.Item-Title-Box {
  margin-left:16px;
  align-items: center;
  display:flex;
  font-family:'Inter';
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.005em;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}

.plusLogo{
  padding-right:16px;
  padding-left:16px;
  display: flex;
  align-items: center;
}

.Item-Container:hover{
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
}

.Item-Container:active{
  background: #F4F4F4;
}

.Item-Container:active .ellipseIcon{
  background: #F4F4F4;
}

.textbox{ 
  caret-color:#2FE6FF;
  font-family:'Inter';
  border:none; 
  outline:none;
  width:90%;
  height:500px;
  font-size:28px;
  font-weight: 600;
  letter-spacing: -0.01em;
  color: #242424;
  line-height:193%;
}
::placeholder{
  opacity:0.2;
}
.backIcon {
  width: 18px;
  height: 18px;
  object-fit: cover;
  padding-right:4px;
  filter: invert(27%) sepia(0%) saturate(1095%) hue-rotate(151deg) brightness(104%) contrast(84%);
}
.cancel{
  color: #505050;
  display: flex;
  cursor: pointer;
  align-items: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.005em;
}

.done{
  color: #505050;
  cursor: pointer;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.005em;
}

.done:hover, .cancel:hover{
  color:#242424;
}
.done:active{
  color: #2FE6FF;
}
.cancel:active{
  color: #2FE6FF;
}

.cancel:hover .backIcon{
  filter: invert(0%) sepia(0%) saturate(1513%) hue-rotate(203deg) brightness(96%) contrast(72%)
}

.cancel:active .backIcon{
  filter: invert(87%) sepia(17%) saturate(7459%) hue-rotate(151deg) brightness(102%) contrast(101%);
}

.modifyContainer {
  margin-top: 32px;
  margin-left: 40px;
  margin-right:40px;
}

.leftHeader {
  display: flex;
  width: 95%;
  justify-content: space-between;
  margin-bottom: 24px;
}

/* .createText {
  font-size: 20px;
  font-weight: 600;
  
} */

.dropdown {
  position:relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ellipseIcon{
  /* margin-left:16px;
  margin-right:16px; */
  padding-right:16px;
  border-radius:4px;
}

.ellipseIcon:hover {
  background-color: #F4F4F4;
}

.ellipseIcon:active{
  background-color: #F4F4F4;
  fill:#2FE6FF;
}

.dropdown-content {

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}
/* 
.editBtn{
  color: #242424;
  display:flex;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  padding-right:16px;
  border-radius:8px;
} 

.deleteBtn {
  color: #242424;
  display:flex;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  padding-right:16px;
  border-radius:8px;
} */

.editIcon{
  height:18px;
  width:18px;
  /* margin-left:16px;
  margin-right:8px;
  margin-top:16px;
  margin-bottom:16px; */
}

.deleteIcon{
  height:18px;
  width:18px;
  /* margin-left:16px;
  margin-right:8px;
  margin-top:16px;
  margin-bottom:16px; */
}

.editBtn:hover, .deleteBtn:hover{
  background-color: #F4F4F4;
}

.editBtn:active { 
  background-color: #F4F4F4;
  color:#2FE6FF 
}

.editBtn:active .editIcon{
  filter: invert(87%) sepia(17%) saturate(7459%) hue-rotate(151deg) brightness(102%) contrast(101%);
}

.deleteBtn:active{
  background-color: #F4F4F4;
  color:#FF3333;
}

.deleteBtn:active .deleteIcon{
  filter: invert(26%) sepia(62%) saturate(3442%) hue-rotate(346deg) brightness(104%) contrast(107%);
}

button{
  border:none;
  background-color: white;
  cursor: pointer;
}

@media screen and (max-width:1039px){
  .List-Container{
    margin-left:24px;
    margin-right:24px;
  }
  .modifyContainer{
    margin-left:24px;
    margin-right:24px;
  }
}